# 기초 라이브러리
numpy
pandas
requests
tqdm

# 한국어 NLP (Kiwi 형태소 분석기 추가)
kiwipiepy
konlpy

# NLP 및 머신러닝 핵심
spacy
nltk
transformers
scikit-learn

# 환경 설정 및 유틸리티
python-dotenv
pyyaml

langchain 
langchain-openai
langchain-core

#파이토치
torch
torchvision
torchaudio


#의존성 원핫 설치 명령어
#pip install -r requirements.txt